*{
    padding: 0;
    margin: 0;
}

.BUY{
    width: 150px;
    height: 40px;
    background-color: black;
    border-radius: 25px ;
    color: white;
    text-align: center;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


body{
    background-color: #e9edf9;
}
.box{
    width: 100%;
    min-width: 1500px;

}
.logo{
    height: 100px;
    width: 100%;
    min-width: 1500px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 9999;
    background: -webkit-linear-gradient(90deg,rgba(210,223,245,0),rgba(210,223,245,.96) 96.2%,#d2dff5);
}
.logo img{
    width: 300px;
    height: 60%;
}

.logo ul{
    width: 800px;
    height: 4px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 38px;
    margin-left: 100px;
    margin-right: 100px;
}
.logo ul li{
    flex: 1;
    height: 44px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 20px;
    /* width: 33px; */
}
.logo ul li span:nth-child(1){
    font-size: 17px;
    font-weight: bold;
}
.logo ul li span:nth-child(2){
    font-size: 3px;
    color: #636363;
   }

   .NavImg{
    width: 1400px;
    margin: auto;
    height: 500px;
    margin-top: 100px;
    overflow: hidden;
   }
   .NavImg img{
    width: 100%;
    height: 600px;
   }

   .bigimg{
    width: 90%;
    height: 800px;
    margin:50px auto;

   }
   .bigimg img{
    height: 100%;
    width: 100%;
   }

   .navA{
    width: 90%;
    height: 100px;
    margin: auto;
    border-top: 1px solid #b5cbde;
    border-bottom: 1px solid #b5cbde;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    box-sizing: border-box;

   }

   .navA_SpanA{
    border: 1px solid #9ea9b6;
    display: inline-block;
    padding: 0.8rem 1.2rem;
    border-radius: 30px;
   }

   .navA_SpanB{
    color: black;
    height: 40px;
    line-height: 40px;
   }



   .navA_SpanC{
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    background-color: black;
    color: white;
    display: inline-block;
    width: 120px;
    text-align: center;


   }


   .navB{
    width: 90%;
    height: 800px;
    margin: auto;
    display: flex;
    background-color: #ecf0f9;
    justify-content: space-between;
    margin-bottom: 50px;
   }

   .navB_a{
    width: 450px;
    height: 100%;
   }

   .navB_a img{
    width: 450px;
    height: 400px;
   }

   .navB_b{
    width: 450px;
    height: 100%;
   }
   .navB_b img{
    width: 450px;
    height: 100%;
   }

   .navB_c{
    width: 450px;
    height: 100%;
   }

   .navB_c img{
    width: 450px;
    height: 400px;
    margin-top: 200px;
}

.navC{
    width: 90%;
margin:50px auto;
    border-radius: 50px;
    background-color: white;
    position: relative;
    padding: 100px;
    box-sizing: border-box;

}

.navC .dw{
    width: 600px;
    height: 500px;
    position: absolute;
    right: 0;
    top: -200px;
}

.navC_a{
    width: 100%;
    height: 400px;
    border-bottom: 1px solid #d3d9e5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.navC_aL{
    width: 300px;
    height: 100%;
}

.navC_aR{
    flex: 1;
    height: 100%;
}

.nacH3{
    line-height: 40px;
}

.nacp{
    line-height: 40px;
    margin-top: 40px;
}

.navC_b{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.navC_ba{
    flex: 1;
    margin-right: 50px;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.navC_ba img{
    width: 100%;
    height: 100%;
}

.navC_bb{
    flex: 1;
    height: 100%;


}

.tex{
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.texB{
    border-bottom: 1px solid #d3d9e5;
}

.texB p{
    line-height: 40px;
    padding-bottom: 30px;
    color: #515556;
}

.texC p{
    line-height: 40px;
    margin: 10px 0;
    color: #515556;
}

.texC{
    position: relative;
}

.texC img{
    width: 300px;
    height: 100px;
    position: absolute;
    right: 37px;
    bottom: -66px;
}

.navC_d{
    width: 100%;
    margin-top: 100px;
}

.navC_d h3{
    text-align: center;
}

.imgList{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}

.imgList img{
    width: 300px;
    height: 200px;
}

.navD{
    width: 90%;
    margin:50px auto 0;
    display: flex;
    justify-content: space-between;
    padding: 100px 100px 50px 100px;
    box-sizing: border-box;
}

.navD_a{
    width: 300px;
    height: 100%;
}

.navD p{
    color: #515556;
}

.navD_b{
    flex: 1;
    height: 100%;
}

.navD_ba{
    width: 100%;
    border-bottom: 1px solid #d3d9e5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-bottom: 30px;
}

.navD_L{
    width: 100px;
    height: 100%;
    margin-right: 50px;
}

.navD_R{
    flex: 1;
}

.navD_L p{
    width: 100%;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    background-color: #dedf60;
    text-align: center;
    font-size: 25px;
}

.navD_R h3 {
    margin-bottom: 20px;
}

.navD_R p{
    line-height: 40px;
    margin-bottom: 40px;
}

.fk{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    line-height: 40px;
    position: relative;

}

.fk span{
    position: absolute;
    right: 20px;
    font-size: 25px;
}

.bk{
    width: 150px;
    height: 50px;
    background: black;
    color: white;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
}

.fkB{
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

.fkB h3{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d3d9e5;
    line-height: 40px;
    padding:0 40px;
    box-sizing: border-box;

}

.fkB p{
    width: 100%;
    line-height: 40px;
    padding:0 40px;
    box-sizing: border-box;

}

.qj{
    text-align: center;
    font-size: 40px;
}

.qjB{
    text-align: center;
    color: #636363;
}

.sList{
    width: 100%;
    height: 260px;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

.sList>div{
    width: 300px;
    height: 230px;
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    text-align: center;
    margin: 0 20px 20px;

}

.sList>div img{
    width: 300px;
    height: 230px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.sy{
    width: 80%;
    margin: auto;
    height: 1p;
    border: 1px solid #d3d9e5 ;
    position: relative;
}

.sy span{
    display: inline-block;
    width: 250px;
    height: 40px;
    border: 1px solid  #d3d9e5;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    background-color: white;
    border-radius: 10px;
}

.syz{
    text-align: center;
    margin: 100px 0;
}

.ff{
    width: 80%;
    margin:0 auto 100px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.ffL{
    width: 400px;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 50px;
}
.ffL img{
    width: 400px;
    height: 100%;
}

.ffR{
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.ffR>div{
    display: flex;
    justify-content: space-between;
}

.ffR>div span{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 80px;
    margin-right: 20px;
}

.ffR>div p{
    flex: 1;
    border-bottom: 1px dotted #bbc1c5;
    color: #555;
}


.zz{
    width: 80%;
    height: 500px;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.zz div{
    width: 50%;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    
}
.zz div img{
    width: 100%;
    height: 150px;
}

.zz div p{
    width: 100%;
    height: 100%;
}


.ax{
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.axA{
    flex: 1;
    margin-right: 30px;
}

.axA img{
    width: 100%;
    height: 100%;
}

.axB{
    flex: 1;
}

.axB h3{
    margin: 30px 0;
}
.axB p{
    line-height: 40px;
}


.buy{
    width: 90%;
    margin: 50px auto;
    height: 700px;
    background-color: white;
    padding: 120px;
    box-sizing: border-box;
    border-radius: 100px;

}

.buyH{
    text-align: center;
    margin-bottom: 20px;
}
.buyp{
    text-align: center;
}

.BuySp{
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}

.BuySpa{
    flex: 1;
    margin-right: 30px;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.BuySpa img{
    width: 100%;
    height: 100%;
}

.BuySpb{
    flex: 1;
}

.BuySpba{
    border-bottom: 1px solid #bbc1c5;
}

.BuySpba p{
    margin: 10px 0;
}

.AAA{
    display: block;
    width: 240px;
    height: 50px;
    background-color: black;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

footer{
    width: 100%;
    height: 600px;
    border-top:1px solid  #bbc1c5;
}

footer .Fa{
    width: 80%;
    height: 400px;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;


} 
footer .Fa div{
    width: 30%;
    height: 100%;
}

.Faa img{
    width: 140px;
    height: 140px;
}
.Fab{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.Fab ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.Fab ul li{
    width: 40%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.Fb{
    width: 80%;
    height: 300px;
    margin: 40px auto 10px;
    position: relative;
}

.Fb img{
    width: 100%;
    height: 100%;
}

.Fb span{
    display: inline;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    position: absolute;
    left: 50%;
    line-height: 50px;
    text-align: center;
    transform: translateX(-50%);
    bottom: 40px;
    border-radius: 20px;
}
.Fb span:hover{
    background-color: #769fd4;
}

.BUY img{
    width: 30px;
    height: 20px;
}
.logo ul li span:nth-child(1):hover{
    color: #769fd4;
}
.BUY:hover{
    background-color:#769fd4 ;
}
.navA span.navA_SpanC:hover{
    background-color: #769fd4;
}
.axB span:hover{
    background-color: #769fd4;
}